version: '3.8'

services:
  # ------------------------------------------------
  # 1. BROKER MQTT
  # ------------------------------------------------
  mqtt-broker:
    image: eclipse-mosquitto:2.0
    container_name: local-mqtt-broker
    ports:
      - "1883:1883" # TCP
      - "9001:9001" # Websockets
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
    restart: unless-stopped

  # ------------------------------------------------
  # 2. BASE DE DATOS (POSTGRES)
  # ------------------------------------------------
  eventsdb:
    image: postgres:16
    container_name: msoft-postgres-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=msoft
    volumes:
      # Script inicial para crear tablas
      - ./eventdb-backup.sql:/docker-entrypoint-initdb.d/init.sql
      # Persistencia de datos
      - msoft-pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d msoft"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ------------------------------------------------
  # 3. LOGGER SERVICE (GOLANG)
  # ------------------------------------------------
  logger-service:
    build:
      context: .           # Contexto raíz
      dockerfile: logger/Dockerfile
    container_name: go-logger-service
    restart: unless-stopped
    depends_on:
      eventsdb:
        condition: service_healthy # Espera a que la BD esté lista
      mqtt-broker:
        condition: service_started
    environment:
      - DB_HOST=eventsdb
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=msoft
      - DB_PORT=5432
      - MQTT_HOST=mqtt-broker
      - MQTT_PORT=1883

  # ------------------------------------------------
  # 4. ANALYZER SERVICE (PYTHON + BRAINFLOW MODIFICADA PARA TESIS)
  # ------------------------------------------------
  analyzer-service:
    build:
      context: .           # Contexto raíz para ver 'brainflow/'
      dockerfile: analyzer_service/Dockerfile
    container_name: python-analyzer-service
    restart: unless-stopped
    depends_on:
      - mqtt-broker
    environment:
      - MQTT_HOST=mqtt-broker
      - TEST_AGE=30
      - USER_ID=atleta_01
      - DATA_WINDOW_POINTS=1024
      - PYTHONUNBUFFERED=1 # Logs inmediatos

volumes:
  msoft-pgdata: